DATABASE_HOST=mysql-57.service.on-server.ru
DATABASE_USER=someuser
DATABASE_PASSWORD=secret!
DATABASE_NAME=somedbname
FTP_ACTIVE_LOW=8820
FTP_ACTIVE_HIGH=8821
FTP_PASSIVE_LOW=8822
FTP_PASSIVE_HIGH=8831
